1) dado el registro de notas de los alumnos (padron,materia,nota,fecha) se pide, utilizando pandas:
    A. promedio de notas
    B. Nota mas alta y nota mas baja durante 2019
    C. Padron con mayor cantidad de materias aprobadas durante el ultimo cuatrimestre
    D. Nota promedio
    E. Nota promedio por padron

In [1]:
import pandas as pd
import datetime

datos = pd.read_csv('ej1.csv')
datos.head()

   padron                    materia  nota       fecha
0  100901   Analisis matematico II A     5   5/12/2019
1  100502                Laboratorio     6   18/2/2020
2  100414  Estructura del computador    10  23/11/2019
3  100901                 Algebra II     4    1/8/2018
4  100901                Fisica II A     7   14/7/2019

In [2]:
#A) PROMEDIO DE NOTAS

datos['nota'].mean()

6.166666666666667

In [3]:
#B) NOTA MAS ALTA Y MAS BAJA DE 2019

#convierto las fechas a datetime
datos['fecha'] = pd.to_datetime(datos['fecha'], format = '%d/%m/%Y')

#agrego columna con anio
datos['anio'] = datos['fecha'].dt.year

#me quedo con las notas del anio 2019
notas2019 = datos[datos['anio'] == 2019].nota.to_frame()
print(notas2019.min())
print(notas2019.max())

nota    2
dtype: int64
nota    10
dtype: int64

In [4]:
#C) PADRON CON MAYOR CANTIDAD DE MATERIAS APROBADAS EN ULTIMO CUATRIM (supongo en ultimo año tmb 2019)

#Agrego una columna "aprobado"
datos['aprobado'] = datos['nota'] >= 4

#Agrego columna "cuatrimestre" sabiendo que el año tiene 3 cuatris: de enero a marzo (1,2,3) % 3 = 0;
#de abril a julio (4,5,6,7) % 3 = 1; de agosto a noviembre (8,9,10,11) % 3 = 2 -> 1erC = 1, 2doC = 1
datos['cuatrimestre'] = datos['fecha'].dt.month % 3

#filtro por ultimo año y por ultimo cuatrimestre
ultimoAño = datos[datos['anio'] == 2019]
ultimoCuatrimestre = ultimoAño[ultimoAño['cuatrimestre'] == 2]
ultimoCuatriAprobado = ultimoCuatrimestre[ultimoCuatrimestre['aprobado']]

#tengo que quedarme con el padron q mas materias aprobo en este ultimo cuatri
agrupacionPadron = ultimoCuatriAprobado.groupby('padron').nunique()
agrupacionPadron[agrupacionPadron['materia'] ==  agrupacionPadron.materia.max()].padron

padron
100901    1
Name: padron, dtype: int64

In [5]:
#D) NOTA PROMEDIO (de aprobados el ultimo cuatri)
ultimoCuatriAprobado['nota'].mean()

6.833333333333333

In [6]:
#E) NOTA PROMEDIO POR PADRON (de los aprobados el ultimo cuatri)
agrupacion = ultimoCuatriAprobado.groupby('padron').agg({'nota': 'mean'})
agrupacion

             nota
padron
100414  10.000000
100502   5.500000
100901   6.666667