# Multinomial Naive Bayes

## Importación de librerías

In [5]:
import pandas as pd
import numpy as np
import re as re
import string
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

import gensim
from gensim.parsing.preprocessing import remove_stopwords

## Lectura de los datos

Leemos los datos que usaremos para entrenar nuestro algorítmo

### Lectura

In [6]:
data = pd.read_csv('train.csv',usecols = ['text','target'])

### Primer vistazo

In [169]:
data

                                                   text  target
0     Our Deeds are the Reason of this #earthquake M...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     Just got sent this photo from Ruby #Alaska as ...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @TheTawniest The out of control w...       1
7610  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 2 columns]

## Limpieza de los datos

Realizamos una limpieza del texto que se corresponde a los tweets para obtener un mejor resultado a la hora de procesar los datos

### Definicion de funciones auxiliares

In [7]:
#Eliminar numeros de un texto
def eliminar_numeros(text):
    return re.sub("\d+", "",text)

#Eliminar puntuacion
def eliminar_puntuacion(text):
    return re.sub(r'[^\w\s]','',text)

#Pasar letras a minusculas
def minusculas(text):
    return text.lower()

#Eliminar caracteres especiales
def eliminar_caracteres(text):
    return re.sub('[^a-zA-Z0-9 \n\.]', '',text)

#Eliminar urls
def eliminar_url(text):
    url_reg = re.compile(r'https?://\S+|www\.\S+')
    return url_reg.sub(r'',text)

### Aplicamos las funciones a nuestros datos

In [8]:
data['text'] = data['text'].apply(eliminar_numeros)
data['text'] = data['text'].apply(eliminar_puntuacion)
data['text'] = data['text'].apply(minusculas)
data['text'] = data['text'].apply(eliminar_caracteres)
data['text'] = data['text'].apply(eliminar_url)
data['text'] = data['text'].apply(remove_stopwords)

### Salida

In [9]:
data

                                                   text  target
0                 deeds reason earthquake allah forgive       1
1                      forest near la ronge sask canada       1
2     residents asked shelter place notified officer...       1
3     people receive wildfires evacuation orders cal...       1
4     got sent photo ruby alaska smoke wildfires pou...       1
...                                                 ...     ...
7608  giant cranes holding bridge collapse nearby ho...       1
7609  ariaahrary thetawniest control wild fires cali...       1
7610          m utckm s volcano hawaii httptcozdtoydebj       1
7611  police investigating ebike collided car little...       1
7612  latest homes razed northern california wildfir...       1

[7613 rows x 2 columns]

## Representando el texto de los tweets como una matriz de datos numéricos

Llamaremos token a las palabras que conforman el texto de los tweets. Podemos entonces crear una matriz cuyas columnas sean los tokens que aparecen en todos los tweets y las filas cada uno de los tweets. Sean aij los elementos de la matriz. El elemento aij representa la cantidad de veces que aparece el token j en el tweet i.

### Ejemplo

Tomemos tres tweets cualesquiera.

In [173]:
ejemplo = ['hola mi nombre mi federico', 'me gusta mi nombre', 'mi nombre nombre es federico']

In [174]:
vect = CountVectorizer(analyzer='word',binary=False)

In [175]:
vect.fit(ejemplo)

CountVectorizer()

In [176]:
vect.get_feature_names()

['es', 'federico', 'gusta', 'hola', 'me', 'mi', 'nombre']

In [177]:
ejemplo_dtm = vect.transform(ejemplo)
ejemplo_dtm

<3x7 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [178]:
ejemplo_array = ejemplo_dtm.toarray()

In [179]:
pd.DataFrame(ejemplo_array,columns = vect.get_feature_names())

   es  federico  gusta  hola  me  mi  nombre
0   0         1      0     1   0   2       1
1   0         0      1     0   1   1       1
2   1         1      0     0   0   1       2

### Observación

Como la mayoría de los tweets utilizan un conjunto reducido de tokens con respecto al total de tokens con el que trabajaremos, se espera que la mayoría de los elementos de la matriz sean cero.

## Armando la matriz para nuestros datos

### Particionando los datos

Particionamos nuestros datos en dos ya que una parte de ellos será utilizada para entrenar a nuestro algorítmo y la otra será utilizada para probarlo. En nuestro caso las variables X respresentan a el texto de los tweets e Y el target asociado a los tweets. La intención de nuestro algorítmo es dado un determinado texto de un tweet(x) poder predecir su target(y)

In [10]:
X_train,X_test,y_train,y_test= train_test_split(data.text, data.target, test_size=0.013,random_state=1)

In [11]:
len(X_train)

7514

In [12]:
len(X_test)

99

### Instanciando el vectorizador

In [13]:
vect = CountVectorizer(analyzer='word',binary=False)

### Obtenemos una lista con todos los tokens obtenidos de los tweets

In [14]:
vect.fit(X_train)

CountVectorizer()

In [16]:
vect.get_feature_names()[:10]

['aa',
 'aaaa',
 'aaaaaaallll',
 'aaaaaand',
 'aaarrrgghhh',
 'aaceorg',
 'aal',
 'aampb',
 'aampw',
 'aan']

### Armamos la matriz

In [17]:
X_train_dtm = vect.transform(X_train)
X_train_dtm

<7514x20988 sparse matrix of type '<class 'numpy.int64'>'
	with 66041 stored elements in Compressed Sparse Row format>

In [18]:
X_train_array = X_train_dtm.toarray()

In [19]:
pd.DataFrame(X_train_array,columns = vect.get_feature_names())

,aa,aaaa,aaaaaaallll,aaaaaand,aaarrrgghhh,aaceorg,aal,aampb,aampw,aan,...,zoom,zotar,zouma,zourryart,zrnf,zss,zumiez,zurich,zxathetis,zzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7510,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7511,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7512,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

*** OBS: Notemos que la matriz tiene tantas filas como cantidad de tweets y tantas columnas como tokens. En este caso se encontraron 17413 tokens. Podemos notar como la mayría de los elementos de la matriz son cero como mencionamos anteriormente ***

## Entrenando el modelo

Usaremos el clasificador multinomial Naive Bayes para realizar  la clasificación

In [20]:
nb = MultinomialNB()

Entrenamos el modelo

In [21]:
%time nb.fit(X_train_dtm, y_train)

CPU times: user 7.94 ms, sys: 0 ns, total: 7.94 ms
Wall time: 40.7 ms

MultinomialNB()

## Probamos el modelo

### Sobre el set de train

In [22]:
predicciones_train = nb.predict(X_train_dtm)

In [23]:
metrics.accuracy_score(y_train,predicciones_train)

0.9242746872504658

### Sobre el set de test

In [24]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<99x20988 sparse matrix of type '<class 'numpy.int64'>'
	with 655 stored elements in Compressed Sparse Row format>

In [25]:
predicciones_test = nb.predict(X_test_dtm)

In [26]:
metrics.accuracy_score(y_test,predicciones_test)

0.8484848484848485

## Preparando el submit de Kaggle

### Leemos los datos

In [42]:
submit= pd.read_csv('test.csv')

In [43]:
submit

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

### Limpiamos los datos

In [44]:
submit['text'] = submit['text'].apply(eliminar_numeros)
submit['text'] = submit['text'].apply(eliminar_puntuacion)
submit['text'] = submit['text'].apply(minusculas)
submit['text'] = submit['text'].apply(eliminar_url)
submit['text'] = submit['text'].apply(remove_stopwords)

In [45]:
submit

,id,keyword,location,text
0,0,NaN,NaN,happened terrible car crash
1,2,NaN,NaN,heard earthquake different cities stay safe
2,3,NaN,NaN,forest spot pond geese fleeing street save
3,9,NaN,NaN,apocalypse lighting spokane wildfires
4,11,NaN,NaN,typhoon soudelor kills china taiwan
...,...,...,...,...
3258,10861,NaN,NaN,earthquake safety los angeles ûò safety fasten...
3259,10865,NaN,NaN,storm ri worse hurricane cityampothers hardest...
3260,10868,NaN,NaN,green line derailment chicago httptcoutbxlcbiuy
3261,10874,NaN,NaN,meg issues hazardous weather outlook hwo httpt...
3262,10875,NaN,NaN,cityofcalgary activated municipal emergency pl...

### Predecimos

In [46]:
texts = vect.transform(submit['text'])
predicciones_kaggle = nb.predict(texts)
submit = pd.DataFrame(submit['id'])
submit['target'] = predicciones_kaggle
#submit.to_csv('SUBMITS/submission-bayes.csv',index=False)